html, body{ font-family: Arial; margin: 1px;}
header{
	background-color: #94cef7;
	padding: 20px;
	text-align: center;
}
h1{font-size: 220; color: yellow; text-shadow: 2px 2px black; }
header img{ border-radius: 50px; width: 200px; height: 200px; border: 5px solid #f7b81b }
h2{ background-color: orange; margin-top: 0; padding-left: 5px;  background-repeat: no-repeat; border: 3px solid #efcc83;
	position: relative; line-height: 40px

 }
.content{
	border-right: 1px solid black; border-left: 1px solid black;
	max-width: 800px;
	margin: 0 auto;
	padding-bottom: 10px;
}
.senseisit {max-width: 100%; width: 350px; height: 600px; margin-right: auto; margin-left: auto; display: block;}
.caption {font-size: 12px; color: gray; margin: 0; text-align: center;}
ol{list-style: none; padding: 0;}
ul{list-style: none; padding: 0; margin: 0;}
footer{background-color: lightgray; padding: 3px 10px 3px 5px;  text-align: right;}
.link{ text-decoration: none; color: red; }