		h1{
			color:red; font-size: 70px; text-decoration: underline;
		}
		h2{
			color:blue; font-size: 50px;
		}
		#first{
			font-size: 150px;
		}
		.small{
			font-size: 12px;
		}
		span{
			font-style: italic;
		}
		h2 span{
			text-decoration: line-through;
		}